@using PagedList.Mvc
@model PagedList.IPagedList<BbsSample.Models.Comment>

<!-- ページング用CSS -->
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.Partial("_CreateForm", new BbsSample.Models.Comment { UserName = ViewBag.PostUserName })

@foreach (var item in Model) {
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                @Html.DisplayFor(modelItem => item.UserName)　@Html.DisplayFor(modelItem => item.Created)
                @Html.ActionLink("×", "Delete", new { id = item.Id }, new { @class = "pull-right" })
            </h3>
        </div>
        <div class="panel-body">
            <div style="white-space: pre;">@Html.DisplayFor(modelItem => item.Body)</div>
        </div>
    </div>
}


<div>
    Page:
    @(Model.PageCount < Model.PageNumber ? "-" : Model.PageNumber.ToString())
    /
    @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", "page" + page))
</div>