@model IEnumerable<BbsSample.Models.Comment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    現在のページ： @ViewBag.Page
</p>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model) {
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                @Html.DisplayFor(modelItem => item.UserName)　@Html.DisplayFor(modelItem => item.Created)
                @Html.ActionLink("×", "Delete", new { id = item.Id }, new { @class = "pull-right" })
            </h3>
        </div>
        <div class="panel-body">
            <div style="white-space: pre;">@Html.DisplayFor(modelItem => item.Body)</div>
        </div>
    </div>
}
